<!-- Table of users -->
<div class="users-header">Users</div>
<div class="users-table"> 
  <div ng-repeat="user in ctrl.users track by $index" class="user-row">
    <button   ng-style="{ width: 66 }"
              ng-class="users[$index].username ? 'btn-info' : 'btn-default'"
              ng-click="ctrl.selectedUser[$parent.$index] = $index"
              class="btn user"
              type="button"
              data-target="#user-input-{{ $parent.$index }}">
          {{ ctrl.users[$index].username || ctrl.userPlaceholder }}
    </button>
    <div class="follower-counter">
      {{ "Followers: " + ctrl.users[$index].followers.length || ctrl.userPlaceholder }}
    </div>
  </div>
</div>

<!-- Input field for users -->
<div class="user-input-container row">
  <!-- An input field for creating or deleting a user -->
  <div class="well user-input col-xs-10">
    <form role="form" class="input-form">
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <input ng-model="userDetails.username"
                   type="text"
                   class="form-control"
                   placeholder="Username"/>
            <input ng-model="userDetails.password"
                   type="text"
                   class="form-control"
                   placeholder="Password"/>
            <div class="input-group-btn">
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Create and Delete buttons -->
    <div class="well user-input row">
      <div class="col-xs-12">
        <button ng-click="ctrl.createUser(userDetails.username,userDetails.password)"
                class="btn btn-success"
                data-target="">
            Create User
        </button>
        <button ng-click="ctrl.deleteUser(userDetails.username,userDetails.password)"
                class="btn btn-danger delete"
                data-target="">
            Delete User</button>
      </div>
    </div>
  </div>
</div>

<div class="no-users" ng-if="ctrl.users.length == 0"></div>

<!-- A status bubble to show success messages -->
<div ng-show="ctrl.statusSuccess"
     class="bg-success status-message">{{ ctrl.statusSuccess }}</div>

<!-- A status bubble to show failure messages -->
<div ng-show="ctrl.statusFailure"
     class="bg-danger status-message">{{ ctrl.statusFailure }}</div>