*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
creating-plugint
.lock-wscript
build/Release
node_modules
bower_components
jspm_packages
.npm
.node_repl_history
app/public/bundle.js
.DS_Store