body {
  margin: 0;
}

#header {
  background: #00bcd4;
  padding: 16px;
  margin-bottom: 32px;
  box-shadow: 0 0 8px 0px #969696;
}

#content {
  margin: auto;
  max-width: 1000px;
  width: 90%;
  font-size: 18px;
  padding: 32px;
  box-shadow: 0 0 8px 0px #ccc;
}

.title {
  font-size: 24px;
  color: #fff;
  margin: 0;asdf
}

.search {
  margin-bottom: 32px;
}

.search input {
  padding: 24px 16px;
  font-size: 16px;
}

.results {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 8px 16px;
}

.result {
  margin: 16px 0;
}

.result-text {
  display: inline-block;
  width: calc(100% - 40px - 16px);
}

.result-item {
  display: inline-block;
  width: 33%;
}

.add-button {
  margin-left: 16px;
}